.tooltip {
    position: relative;
    margin-top: 19px;
    margin-left: 10px;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.649);
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    background-color: rgba(255, 255, 0, 0.375);
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    font-family: product-sans;
    border: 2px solid yellow;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }