.right{
    float: right;
}
.left{
    float: left;
}
.main{
  min-height: 200px ;
}
.about {
    display: flex;
    background-image: url('https://konicaminoltaau.imgix.net/getmedia/db355129-0bb6-45df-a181-6b4db47885d3/Automation-blog.jpg?width=670&auto=format');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    flex-wrap: wrap;
  }
  
  .about-description {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom:0px ;
    color: white;
    height: fit-content;
  }
  
  @media screen and (max-width: 768px) {
    .about {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .about-description {
      width: 80%;
      margin: 10px auto;
    }
  }
  .objectives {
    background-image: url('../images/question.png');
    background-size: auto 100%,cover;
    background-repeat: no-repeat;
    padding: 10px;
    display: flex;
  }

  .obj-desc {
    background: linear-gradient(to right, #010101, #f4f2f2), url('../images/question.png');
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 100%;
    height: fit-content;
  }
  
  @media screen and (min-width: 768px) {
    .objectives {
      flex-direction: row;
      background-position: left;
    }
  
    .obj-desc {
      width: 40%;
      margin-left: auto;
      margin-right: 10%;
    }
  }
  @media screen and (max-width: 768px) {
    .objectives {
      flex-direction: column;
      align-items: center;
      text-align: right;
      
    }
  
    .obj-desc {
      width: 70%;
      background: linear-gradient(to right, #f9f7f7, #030303) ;
      /* margin: 10px auto; */
      margin-left: auto;
    }
    li{
      list-style: none;
    }
  }
  /* "../images/Automate.jpg" */
  .automated-meter-reading{
    display: flex;
    background-image: url("../images/Automate.jpg");
    padding: 10px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .auto-mtr-read-desc{
    color: white;
    background-color: rgba(0, 0, 0, 0.477);
    padding: 10px;
    width: 50%;
    border-radius: 10px;
  }
@media (max-width: 768px) { 
  .auto-mtr-read-desc{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 100%;
  }
}
  .trading{
    background-image: url('../images/Buy-sell.avif');
    background-size: auto 100%;
    background-color: rgb(14, 14, 14);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 10px;
    display: flex;
  }

  .trading-desc{
    background: linear-gradient(to right, #010101, #f4f2f2);
    flex-wrap: wrap;
    padding: 10px ;
    border-radius: 10px;
    color: white;
    float: right;
    width: 50%;
    height: fit-content;

  }
  @media screen and (min-width: 768px) {
    .objectives {
      flex-direction: row;
      background-position: left;
    }
  
    .trading-desc {
      width: 40%;
      margin-left: auto;
      margin-right: 10%;
    }
  }
  @media screen and (max-width: 768px){
    .trading{
      background-position:right;

    }
  }
  .insight{
    background-image: url('../images/meter-reading.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    padding: 10px;
  }
  .insight-desc{
    background-color: rgba(248, 248, 248, 0.42);
    flex-wrap: wrap;
    padding: 10px ;
    border-radius: 10px;
    color: rgb(2, 2, 2);
    float: right;
    width: 50%;
    height: fit-content; 
  }
  @media screen and (max-width: 768px){
    .insight-desc{
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
  }
  .enhanced-security{
    background: fixed url('../images/Security.png') no-repeat ;
    padding: 10px;
    display: flex;
    background-size: cover;
  }
  .security-desc{
    background-color: rgba(15, 14, 14, 0.42);
    flex-wrap: wrap;
    padding: 10px ;
    border-radius: 10px;
    color: rgb(250, 248, 248);
    float: right;
    width: 50%;
    height: fit-content; 
  }
  @media (max-width: 768px){
    .enhanced-security{
      background-size: 100% 1500px;
    }
  }