@media (min-width: 1115px) {
    .home{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .monthly-chart, .yearly-chart{
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        height: fit-content;
    }
}
@media (max-width: 1115px) {
    .home{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .monthly-chart{
        margin-top: 10px;
    }
    .monthly-chart, .yearly-chart{
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        height: fit-content;
    }
}
.year-container{
    font-family: Ralewayu;
    padding-left: 10px;
}
.year-container select
{
    padding: 5px;
}
 option{
    background-color: white;
    padding: 10px;
    border-radius: 0px;
}

.avgUnitsPerMon{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin : 10px;
    border-radius: 5px;
    font-family: Raleway;
    text-transform: capitalize;
    text-align: center;
}
.lastMonth{
    background-color: white;
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.yearly-chart:hover,
.monthly-chart:hover,
.avgUnitsPerMon:hover,
.lastMonth:hover{
    box-shadow: 5px 10px grey;
}