.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.monthly-chart, .yearly-chart{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
}